/* Header */

.header {
    height: 80px;
}

.logo-white {
    height: 51px;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.navigation__links {
    /* display: flex; */
    gap: 45px;
    /* align-items: center; */
}

.navigation__links li a {
    color: #2f1e09;
    font-size: 14px;
}

#navigation__link {
    color: var(--primary-color);
}
/* .navigation__links li:first-child a {
    color: #ff8a00;
} */

/* .navigation__links .navigation__link {
    color: #ff8a00;
} */

.navigation__actions {
    /* display: flex; */
    /* align-items: center; */
    /* gap: 25px; */
}

.navigation__actions img {
    height: 24px;
    width: 24px;
}

.navigation__actions figure {
    height: 50px;
    width: 50px;
    background-color: #ecf0f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

/* Welcome Section */

#welcome-section {
    background-color: #e5fef6;
}

.welcome-section__container {
    max-width: 1440px;
    margin: 0 auto;

    /* display: flex; */
    /* align-items: center; */
    padding-top: 80px;
    padding-right: 80px;
}

.welcome-section__left {
    width: 55%;
}

.welcome-section__left img {
    width: 100%;
    height: auto;
}

.welcome-section__right {
    width: 45%;
}

.welcome-section__right h2 {
    /* font-size: 70px; */
    line-height: 66px;
    color: var(--color-black);
    margin-bottom: 60px;
}

.welcome-section__right p {
    /* font-size: 20px; */
    line-height: 40px;
    margin-bottom: 45px;
}

.welcome-section__right h2 span {
    color: var(--primary-color);
}

/* Hero Section */

.hero-section__container {
    max-width: 1440px;
    padding: 80px;
    margin: 0 auto;

    /* display: flex; */
    /* align-items: center; */
    /* gap: 40px; */
}

.hero-section__left {
    width: 50%;
}

.hero-section__right {
    width: 50%;
}

.hero-section__img {
    width: 100%;
    height: auto;
}

.hero-section__left span {
    display: block;
    margin-bottom: 24px;
    background-color: #f8ddbe;
    width: max-content;
    color: var(--primary-color);
    font-size: 14px;
    border-radius: 123px;
    padding: 5px 20px;
}

.hero-section__heading {
    margin-bottom: 24px;
    color: var(--color-black);
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
}

.hero-section__description {
    margin-bottom: 50px;
    color: var(--color-light-dark);
    font-size: 20px;
}

.hero-section__cta button:first-child {
    margin-right: 12px;
}

/*Mune-Section*/

.menu-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

.menu-section__container h2 {
    text-align: center;

    line-height: 66px;
    color: var(--color-black);
    margin-bottom: 60px;
}

.menu-section__filters {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 60px;
}

.menu-section__meals {
    /* display: flex; */
    flex-wrap: wrap;
    /* gap: 40px; */
}

.menu-section__stars {
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}

.menu-section__price {
    font-size: 25px;
    line-height: 38px;
    color: var(--color-black);
    font-weight: 600;
}

.card {
    width: calc((100% - 80px) / 3);
    padding: 35px 37px;
    background-color: #d0ccc733;
    border-radius: 70px;
}

.card__img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.card__title {
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    /* text-align: center; */

    margin-bottom: 5px;
}

.card__text {
    font-size: 14px;
    line-height: 28px;
    color: #59442b;
    /* text-align: center; */
    margin-bottom: 30px;
}

.card__footer {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

/* Reservation */

#reservation-section {
    background-color: rgba(255, 244, 231, 0.4);
}

.reservation-section__container {
    padding-left: 0;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    margin: 0 auto;

    /* display: flex; */
    /* align-items: center; */
    /* gap: 40px; */
}

.reservation-section__left {
    width: 55%;
}

.reservation-section__left img {
    width: 100%;
    height: auto;
}

.reservation-section__right {
    width: 45%;
}

.reservation-section__right h2 {
    font-size: 60px;
    line-height: 70px;
    color: var(--color-black);
    margin-bottom: 50px;
}

.reservation-section__right h2 span {
    color: var(--primary-color);
}

.reservation-section__right p {
    /* font-size: 20px; */
    line-height: 40px;
    margin-bottom: 45px;
}

/* Chefs Section*/

#chefs-section {
    /* text-align: center; */
}

.chefs-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

.chefs-section__chefs {
    /* display: flex; */
    /* gap: 40px; */
    margin: 80px;
}

.chefs-section__container .btn-large-orange {
    margin: 0 auto;
    display: block;
}

.chefs-section__chef {
    width: calc((100% - 80px) / 3);
}

.chefs-section__chef img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    margin-bottom: 40px;
}

.chefs-section__chef:first-child img {
    background-color: rgb(196, 196, 196);
}

.chefs-section__chef:nth-child(2) img {
    background-color: #ff8a0033;
}

.chefs-section__chef:last-child img {
    background-color: rgba(157, 101, 66, 0.2);
}

.chefs-section__chef h4 {
    margin-bottom: 15px;
    color: var(--color-black);
    font-weight: 600;
    font-size: 25px;
    line-height: 200%;
}

.chefs-section__container h2 {
    /* font-size: 70px; */
    line-height: 66px;
    color: var(--color-black);
    margin-bottom: 60px;
}

.chefs-section__container h2 span {
    color: var(--primary-color);
}

.chefs-section__chef p {
    color: #a08d76;
    font-size: 25px;
    line-height: 200%;
    font-weight: 400;
}

/* Testimonials Section */

#testimonials-section {
    background-image: url(./assets/customers.png);

    background-size: cover;
    background-position: top;
    background-color: #fbfafa;
}

.testimonials-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

.testimonials-section__container h2 {
    font-size: 60px;
    line-height: 70px;
    color: var(--color-black);
    margin-bottom: 50px;
    text-align: center;
}

.testimonials-section__testimonials {
    /* display: flex; */
    /* gap: 40px; */
    /* justify-content: space-between; */
}

.testimonials-section__testimonial {
    width: 30%;
    /* text-align: center; */
}

.testimonials-section__testimonial img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.testimonials-section__testimonial h4 {
    color: var(--color-black);
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
}

.testimonials-section__testimonial h5 {
    color: var(--color-light-dark);
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.testimonials-section__testimonial p {
    color: var(--color-light-dark);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

/* Business Hours section */

.hours-section__container {
    max-width: 1440px;
    padding: 80px;
    margin: 0 auto;
}

.hours-section__background {
    max-width: 1150px;
    margin: 0 auto;
    height: 750px;
    border-radius: 150px;

    background-image: url("./assets/business-hours.png");

    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
}

.hours-section__hours h2 {
    color: var(--color-white);

    font-size: 60px;
    line-height: 70px;
    margin-bottom: 15px;
}

.hours-section__hours h3 {
    color: var(--color-white);
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
}

.hours-section__lunch-dinner {
    width: max-content;
    margin: 0 auto;

    margin-bottom: 50px;
}

.hours-section__lunch-dinner p {
    color: var(--color-white);
    text-align: center;
    /* font-size: 20px; */
    line-height: 200%;
}

.hours-section__lunch-dinner p:last-child {
    text-align: right;
}

.btn-large-white {
    height: 74px;
    color: var(--color-black);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--color-white);
    border: none;
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
    cursor: pointer;
}

.hours-section__hours .btn-large-orange {
    margin-right: 15px;
}

/* Footer */

#footer {
    background-color: var(--color-black);
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px;
}

.footer__content {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 60px;
}

.footer__text {
    color: #e3e2e0;
    font-size: 16px;
    line-height: 32px;
    display: block;
}

.footer__brand {
    width: 30%;
}

.text-center {
    /* text-align: center; */
}

.footer__heading {
    color: var(--primary-color);
    font-size: 25px;
    line-height: 50px;
}

.footer__social-icons {
    margin-top: 40px;
}

.footer__social-icons img:first-child {
    margin-right: 30px;
}

.footer__social-icons img:nth-child(2) {
    margin-right: 30px;
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__contact {
    width: 30%;
}

.footer__contact p {
    line-height: 24px;
}

/*refactoring-Section*/

.menu-section__container,
.welcome-section__right,
.chefs-section__container h2 {
    font-size: 70px;
}

.welcome-section__right,
.reservation-section__right,
.hours-section__lunch-dinner p {
    font-size: 20px;
}

.hero-section__container,
.menu-section__meals,
.reservation-section__container,
.chefs-section__chefs,
.testimonials-section__testimonials {
    gap: 40px;
}

.navigation,
.navigation__links,
.navigation__actions,
.welcome-section__container,
.hero-section__container,
.card__footer,
.reservation-section__container,
.hours-section__background {
    align-items: center;
}

.navigation,
.navigation__links,
.navigation__actions,
.welcome-section__container,
.hero-section__container,
.menu-section__filters,
.menu-section__meals,
.card__footer,
.reservation-section__container,
.chefs-section__chefs,
.testimonials-section__testimonials,
.hours-section__background,
.footer__content {
    display: flex;
}

.text-center,
.card__title,
.card__text,
#chefs-section,
.testimonials-section__testimonial,
.hours-section__background {
    text-align: center;
}

.footer__content,
.navigation,
.menu-section__filters,
.card__footer,
.testimonials-section__testimonials {
    justify-content: space-between;
}
